[submodule "submodules/odoo"]
	path = submodules/odoo
	url = git@github.com:odoo/odoo.git
	branch = 15.0
	shallow = true
[submodule "submodules/queue"]
	path = submodules/queue
	url = git@github.com:OCA/queue
	branch = 15.0
	shallow = true
