AccessControl==6.0
Acquisition==4.13
alabaster==0.7.13
appdirs==1.4.4
astunparse==1.6.3
attrs==22.2.0
AuthEncoding==5.0
Babel==2.9.1
beautifulsoup4==4.11.2
borg.localrole==3.1.10
BTrees==5.0
cached-property==1.5.2
certifi==2022.12.7
cffi==1.15.1
Chameleon==4.0.0
chardet==3.0.4
charset-normalizer==3.1.0
collective.monkeypatcher==1.2.1
colorama==0.4.6
contourpy==1.0.7
cryptography==38.0.2
cssselect==1.2.0
cycler==0.11.0
DateTime==5.1
decorator==4.4.2
defusedxml==0.7.1
diazo==1.5.0
DocumentTemplate==4.4
docutils==0.16
ebaysdk==2.1.5
extendable==0.0.3
extendable_pydantic==0.0.3
ExtensionClass==5.0
feedparser==6.0.10
five.customerize==2.1.0
five.intid==1.2.7
five.localsitemanager==4.0
fonttools==4.39.0
freezegun==0.3.15
future==0.18.3
gevent==22.10.2
graphviz==0.20.1
greenlet==2.0.2
icalendar==5.0.4
idna==2.8
imagesize==1.4.1
iso3166==2.1.1
isodate==0.6.1
Jinja2==2.11.3
jsonschema==4.17.3
jsx-lexer==2.0.0
kiwisolver==1.4.4
lesscpy==0.15.1
libsass==0.18.0
linkify-it-py==2.0.0
livereload==2.6.3
lxml==4.9.2
manuel==1.12.4
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==1.1.0
matplotlib==3.7.1
mdit-py-plugins==0.3.5
mdurl==0.1.2
Missing==4.2
MultiMapping==5.0
multipart==0.2.4
myst-parser==0.18.1
num2words==0.5.6
numpy==1.24.2
ofxparse==0.21
packaging==23.0
passlib==1.7.3
Paste==3.5.2
PasteDeploy==3.0.1
pbr==5.11.1
Persistence==3.6
persistent==5.0
piexif==1.1.3
Pillow==9.0.1
ply==3.11
polib==1.1.0
psutil==5.6.7
psycopg2==2.9.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycountry==22.3.5
pycparser==2.21
pydantic==1.10.6
pydata-sphinx-theme==0.8.1
pydot==1.4.1
Pygments==2.14.0
pyOpenSSL==23.0.0
pyparsing==3.0.9
PyPDF2==1.26.0
pyrsistent==0.19.3
pyserial==3.4
python-dateutil==2.7.3
python-gettext==4.1
python-ldap==3.4.0
python-stdnum==1.13
pytz==2019.3
pyusb==1.0.2
PyYAML==6.0
qrcode==6.1
Record==3.6
reportlab==3.6.12
repoze.xmliter==0.6.1
requests==2.25.1
requests-toolbelt==0.10.1
RestrictedPython==7.0a1.dev0
roman==4.0
schwifty==2023.3.0
sgmllib3k==1.0.0
simplejson==3.18.3
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.4
Sphinx==4.5.0
sphinx-autobuild==2021.3.14
sphinx-book-theme==0.3.3
sphinx-copybutton==0.5.1
sphinx-notfound-page==0.8.3
sphinx-sitemap==2.5.0
sphinx-togglebutton==0.3.2
sphinx_design==0.3.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-httpdomain==1.8.1
sphinxcontrib-httpexample==1.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-video==0.0.1.dev3
sphinxext-opengraph==0.8.1
tornado==6.2
transaction==3.0.1
typing_extensions==4.5.0
uc-micro-py==1.0.1
Unidecode==1.3.6
urllib3==1.26.5
vobject==0.9.6.1
waitress==2.1.2
WebOb==1.8.7
webresource==1.2
WebTest==3.0.0
Werkzeug==2.0.2
wrapt==1.15.0
WSGIProxy2==0.5.1
xlrd==1.2.0
XlsxWriter==1.1.2
xlwt==1.3.0
z3c.caching==3.0
z3c.form==4.3
z3c.formwidget.query==1.0.0
z3c.objpath==1.3
z3c.pt==3.3.1
z3c.relationfield==1.0
z3c.zcmlhook==2.0
zc.lockfile==3.0.post1
zc.relation==1.1.post2
ZConfig==3.6.1
sphinx-tabs==3.2.0